[Service]
ExecStart=/home/ubuntu/apps/proxy/envoy/envoy -c envoy/config.yaml
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=proxy
User=root
Group=root

WorkingDirectory=/home/ubuntu/apps/proxy

[Install]
WantedBy=multi-user.target
